* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: #2d5e90;
	padding: 1.35rem 0;
}

.header__title {
	margin-left: 32.5rem;
	font-size: 1rem;
	font-family: "Open Sans", monospace;
	color: #ffffff;
	font-weight: 500;
}

.main {
	padding: 1.78rem 6.85rem;
}

.main::after {
	content: "";
	display: block;
	clear: both;
}

.left {
	float: left;
	width: 60.9%;
}

.right {
	float: right;
	width: 37.6%;
}

.card {
	border: #47749f solid 0.09rem;
	margin-bottom: 1rem;
}

.right .card {
	margin-bottom: 1.2rem;

	.card__content {
		padding-block: 1rem;
	}
}

.card__heading {
	background-color: #2d5e90;
	padding: 0.55rem 1.225rem;
	font-size: 0.97rem;
	color: #ffffff;
	font-weight: 600;
	font-family: "Open Sans", monospace;
}

.card__content {
	display: inline-block;
	background-color: #f6f6f6;
	padding: 1.1rem 1.225rem;
	color: #111111;
	text-align: justify;
	font-size: 0.788rem;
	line-height: 1.238rem;
	font-family: "Open Sans", monospace;
	font-weight: 450;
}
