@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: #3d163c;
    text-align: center;
    padding: 4.2rem;
}

header h1 {
    color: #f9f8f9;
    font-size: 4rem;
    font-family: "Roboto Condensed", sans-serif;
}

.cover-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.articles-container {
    width: 100%;
    margin: 6rem 9rem;
}

.articles-container-row {
    display: block;
}

.card {
    display: inline-block;
    width: 42rem;
    margin: 1rem;
    margin-bottom: 6.5rem;
}

.card__img {
    height: 31.5rem;
    width: 100%;
}

.card__heading-container {
    margin-top: 1.5rem;
}

.card__heading-container-heading {
    font-size: 3.3rem;
    font-weight: 200;
    font-family: "Roboto", sans-serif;
}

.card__heading-container-location {
    display: inline-block;
    margin-top: 0.6rem;
    font-weight: bold;
    font-size: 1.6rem;
    color: #111111;
    font-family: "Open Sans", sans-serif;
}

.card__content {
    display: inline-block;
    margin-top: 3rem;
    font-size: 1.65rem;
    font-family: "Open Sans", sans-serif;
}

.card__read-more-btn {
    background-color: #702053;
    color: #ffffff;
    margin-top: 1.7rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
}

.testimony {
    margin-top: -2.5rem;
    text-align: center;
}

.testimony__heading {
    margin-bottom: 2.6rem;
    font-size: 6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 250;
}

.testimony__content {
    display: inline-block;
    margin-top: 2rem;
    text-align: justify;
    width: 115rem;
    font-size: 2.46rem;
    line-height: 3.9rem;
    font-family: "Lora", sans-serif;
    font-weight: lighter;
}

footer {
    background-color: #702053;
    margin-top: 8.5rem;
    padding: 3.3rem 10rem;
    font-family: "Open Sans", sans-serif;
}

.footer__heading {
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
}

.footer__subheading {
    color: #fefefe;
    font-weight: lighter;
}
