/* universal */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* header */
.header {
	background-color: #175e8e;
	padding: 1.35rem 0;

	/* header title */
	.header__title {
		margin-left: 32.5rem;
		font-size: 1rem;
		font-family: "Open Sans", monospace;
		color: #ffffff;
		font-weight: 500;
	}
}

/* main */
.main {
	padding: 1.78rem 6.85rem;

	/* left */
	.left {
		float: left;
		width: 60.9%;
		clear: left;
	}

	/* right */
	.right {
		float: right;
		width: 37.6%;
		clear: right;
	}

	/* right card */
	.right.card {
		margin-bottom: 1.2rem;

		.card__content {
			padding-block: 1rem;
		}
	}

	/* left and right cards */
	.left,
	.right {
		border: #47749f solid 0.09rem;
		margin-bottom: 1rem;

		/* card heading */
		.card__heading {
			background-color: #175e8e;
			padding: 0.58rem 1.225rem;
			font-size: 0.97rem;
			color: #ffffff;
			font-weight: 600;
			font-family: "Open Sans", monospace;
		}

		/* card content */
		.card__content {
			display: inline-block;
			background-color: #f6f6f6;
			padding: 1.05rem 1.225rem;
			color: #111111;
			text-align: justify;
			font-size: 0.788rem;
			line-height: 1.238rem;
			font-family: "Open Sans", monospace;
			font-weight: 450;
		}
	}

	/* sonynetwork card */
	.sonynetwork-card {
		line-height: 1.2rem;
		margin-top: -5rem;
	}
}

/* Tablet */
@media (max-width: 1024px) {
	.header {
		padding: 1.365rem 0;

		.header__title {
			margin: 0;
			text-align: center;
		}
	}

	.main {
		padding: 1.75rem 1.3rem;

		.left {
			float: left;
			width: 60.99%;
		}

		.right {
			float: right;
			width: 37.6%;
		}
	}
}

@media (max-width: 768px) {
	.header {
		padding: 1.365rem 0;

		.header__title {
			margin: 0;
			text-align: center;
		}
	}

	.main {
		padding: 1.75rem 1rem;

		.left {
			float: left;
			width: 100%;
			clear: both;
		}

		.right {
			float: right;
			width: 100%;
			clear: both;
		}

		.sonynetwork-card {
			line-height: 1.2rem;
			margin-top: auto;
		}
	}
}
