* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: #371e63;
	color: #cdc7d8;
	font-family: "Google Sans Flex", sans-serif;
	font-size: 0.6rem;
	padding: 1.6rem;
	font-weight: 100;
}

.main {
	margin: 3.15rem 4.45rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.75rem;
}

.card {
	background-color: #5265af;
	display: flex;
	gap: 1rem;
	justify-content: start;
	align-items: center;

	padding: 0.79rem 0.8rem;

	.card__img-container {
		width: 3.35rem;
		height: 3.35rem;

		.card__img {
			height: 100%;
			width: 100%;
			border-radius: 100%;
			object-fit: cover;
		}
	}

	.card__content {
		display: flex;
		flex-direction: column;
		gap: 0.1rem;

		.card__content-name {
			color: #ffffff;
			font-size: 0.9rem;
			font-family: "Open Sans", sans-serif;
		}

		.card__content-email {
			color: #cdd3e8;
			font-size: 0.7rem;
			font-family: "Open Sans", sans-serif;
		}
	}
}

@media (max-width: 1024px) {
	.main {
		margin: 2rem 3.41rem;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.main {
		margin: 1rem 2.41rem;
		grid-template-columns: repeat(1, 1fr);
	}
}
